//Portfolio Modals
= "{% for post in site.categories['portfolio'] %}"
.portfolio-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true" id="{{post.slug}}")
  .modal-content
    a.close-modal(data-dismiss="modal" href="#")
      .lr
        .rl
    .container-fluid.body-content
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body.container
            h2.title= '{{post.title}}'
            p.lead= '{{post.lead}}'
            hr
            img(src="{{post.thumbnail}}", class="img-responsive img-centered")
            .content
              = '{{post.content}}'
            .col-xs-12.modal-footer
              .pull-left
                = '{% if post.case-study %}'
                a.btn.btn-metro(href="{{post.case-study}}") Download Case Study
                = '{% endif %}'
                = '{% if post.live-site %}'
                a.btn.btn-metro(href="{{post.live-site}}") View Live Site
                = '{% endif %}'
              a.btn.btn-metro(href="mailto:jason@jasonmdesign.com") Get in touch
= '{% endfor %}'
