section.contact#contact
  .container
    .heading
      h1 Say 
        span.highlight Hi
      p.lead Like what you've seen? Get in touch with me!
    .social-icons
      a(href="mailto:jason@jasonmdesign.com")
        i.fa.fa-envelope
      a(href="https://www.facebook.com/jasonmdesign")
        i.fa.fa-facebook
      a(href="https://twitter.com/JasonMDesign")
        i.fa.fa-twitter
      a(href="https://www.google.com/+Jasonmdesignbrisbane")
        i.fa.fa-google-plus
      a(href="https://www.youtube.com/channel/UCTqm_grvr13d4MhPxT36Hsg")
        i.fa.fa-youtube
