section.testimonials#testimonials
  .container-fluid
    .row
      .testimonials-title
        h2.title.text-center Testimonials
        p.text-center.lead What my clients want you to know.
      .col-md-8.col-md-offset-2.slider-animate
        .testimonials-slider
          ul
            li.testimonial-item
              .author.row
                .col-lg-2.col-lg-offset-2.col-sm-4
                  .author-info
                    img(src="/assets/img/Rob-Erich-Profile.jpg", class="img-responsive img-circle")
                    ul
                      li Robert Erich
                      li Money Nomad, CEO
                .col-lg-6.col-md-8.text-center
                  .testimonial
                    p Jason Matthew is a fantastic designer, exceptional idea generator, and professional businessman. Jason listened to my requirements, made the project his own, and developed a website that far surpassed my expectations. Jason has become my go-to designer and I expect to work with him on many future projects.
                  a.btn.btn-metro(href="http://moneynomad.com") View Live Site
            li.testimonial-item
              .author.row
                .col-lg-2.col-lg-offset-2.col-sm-4
                  .author-info
                    img(src="/assets/img/gilad-profile.jpg", class="img-responsive img-circle")
                    ul
                      li  Gilad Nachmani
                      li Outdoors Father, Founder
                .col-lg-6.col-md-8.text-center
                  .testimonial
                    p Working with Jason wasn’t just about getting a design out, it was about finding a way to give my voice the right visual representation. Through the whole process I felt that we were trying to solve a problem while Jason was pushing me to define how I see my site, not just what it should look like. After implementing Jason’s design (and the many tweaks), I have got a great responses from my regular readers while seeing my traffic increases regularly – I guess the branding does work!
                  a.btn.btn-metro(href="http://outdoorsfather.com") View Live Site
            li.testimonial-item
              .author.row
                .col-lg-2.col-lg-offset-2.col-sm-4
                  .author-info
                    img(src="/assets/img/ariel-profile.jpg", class="img-responsive img-circle")
                    ul
                      li  Ariel
                      li Miss World New Zealand, International Tourism
                .col-lg-6.col-md-8.text-center
                  .testimonial
                    p Jason really knows his stuff. I was needing a promotional website that allow customer to order and pay from the site. Jason helped me to work through all my PayPal issues. It was a great success! My website was stylish, informative and interactive. Jason listened and understood exactly what I needed. He was so good to work with. I will definitely be getting Jason to work on my next exciting project.
                  a.btn.btn-metro(href="http://spotthedifferenceshirt.com/") View Live Site
