section.youtube#youtube
  .container-fluid
    .row
      .youtube-title
        h2.title.text-center Youtube
        p.lead.text-center Check out my latest videos about front end design and development.
    .col-lg-4.col-lg-offset-2.col-md-6.left-col
      .embed-responsive.embed-responsive-16by9
        .youtube-video.embed-responsive-item#BLBTKv5ZSFU(data-params="modestbranding=1&showinfo=0&controls=1")
    .col-lg-4.col-md-6.right-col
      h3 Design Code and Create
      p Design Code and Create is a youtube channel that I show off my latest projects and share what I have learn't to help others. I post videos almost weekly that cover my latest side projects, or just things I have been tinkering with. My biggest aim in creating these videos is to inspire a love of design and development in those who see them. As well as showing others how to create the same things that I do. 
