//Portfolio Modals
= "{% for post in site.categories['portfolio'] %}"
.portfolio-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true" id="{{post.slug}}")
  .modal-content
    a.close-modal(data-dismiss="modal" href="#")
      .lr
        .rl
    .container-fluid.body-content
      .row
        .col-md-8.col-lg-offset-2
          .modal-body.container
            h2.title= '{{post.title}}'
            p.lead= '{{post.lead}}'
            hr
            img(src="{{post.thumbnail}}", class="img-responsive img-centered")
            .content
              = '{{post.content}}'
            .col-xs-12.modal-footer
              .pull-left
                = '{% if post.case-study %}'
                a.btn.btn-metro(href="{{post.case-study}}") Download Case Study
                = '{% endif %}'
                = '{% if post.live-site %}'
                a.btn.btn-metro(href="{{post.live-site}}") View Live Site
                = '{% endif %}'
              a.btn.btn-metro(href="mailto:jason@jasonmdesign.com") Get in touch
= '{% endfor %}'

// The Bootstrap Image Gallery lightbox, should be a child element of the document body
    #blueimp-gallery.blueimp-gallery
      // The container for the modal slides
      .slides
      // Controls for the borderless lightbox
      h3.title
      a.prev ‹
      a.next ›
      a.close ×
      a.play-pause
      ol.indicator
      // The modal dialog, which will be used to wrap the lightbox content
      .modal.fade
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', aria-hidden='true') ×
              h4.modal-title
            .modal-body.next
            .modal-footer
              button.btn.btn-default.pull-left.prev(type='button')
                i.glyphicon.glyphicon-chevron-left
                |                         Previous
              button.btn.btn-primary.next(type='button')
                | Next
                i.glyphicon.glyphicon-chevron-right
