#error-container
  .overlay
  .item-title
    #error-message
    .link-bottom
      a.link-icon(href="/")
        i.fa.fa-home
        p Home
      a.link-icon(href="mailto:jason@jasonmdesign.com")
        i.fa.fa-envelope
        p Write Me
