section.blog
  position: relative
  margin-top: 100px
  background: $metroblack
  color: $metrogray
  margin-bottom: 100px
  .title
    color: $metrogray
  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    height: 120px
    width: 100%
    transform: skewY(-3deg)
    background: $metroblack
    transform-origin: top left
  &:after
    content: ""
    position: absolute
    bottom: 0
    left: 0
    height: 120px
    width: 100%
    transform: skewY(3deg)
    background: $metroblack
    transform-origin: bottom left
  h3
    color: $metrogray
    font-size: 2em
  .content
    margin-top: 5%
    margin-bottom: 65px
    position: relative
    z-index: 10
    p
      font-size: 1.2em
      font-weight: 300
  .btn-all
    position: relative
    z-index: 20
    margin-bottom: 50px
    padding: 20px 60px
    font-size: 1.25em
