<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/JMD-Icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/JMD-Icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/JMD-Icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/JMD-Icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/JMD-Icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/JMD-Icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/JMD-Icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/JMD-Icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/JMD-Icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/JMD-Icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/JMD-Icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/JMD-Icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/JMD-Icons/favicon-16x16.png">
    <link rel="manifest" href="/JMD-Icons/manifest.json">
    <link rel="canonical" href="http://yourdomain.com{{ page.url | replace:'index.html','' }}" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/JMD-Icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
    <body><!--[if lt IE 8]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser.
        Please <a href="http://browsehappy.com/">upgrade your browser</a>
        to improve your experience.
      </p><![endif]-->
        {{ content }}
        <!-- Scripts -->
        <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="/assets/js/plugins.js"></script>
        <script src="/assets/js/functions.js"></script>
        <!-- Google Analytics -->
          <script>
          window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
          ga('create', 'UA-XXXXX-Y', 'auto');
          ga('send', 'pageview');
          </script>
          <script async src='https://www.google-analytics.com/analytics.js'></script>
        <!-- End Google Analytics -->
        <!-- / Scripts -->
      </body>
</html>
